.column {
  width: 31%;
  float: left;
  padding: 0 1%;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-family: monospace;
  font-size: 25px;
}
img {
  width: 100%;
}
h3 {
  color: turquoise;
  font-style: italic;
  text-align: center;
  font-family: fantasy;
  font-size: 30px;
}
